*{
    box-sizing: border-box;
    padding: 0px;
    margin:0px;
    font-family: arial;
}
.container{


    display: flex;
    flex-wrap: wrap;
    max-width: 1320px;
    margin: auto;
}

.navbar{
   position:fixed;
   box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
   column-gap: 400px;
   background-color: white;
    
}
.nav{
    
 

  
    height:100px;
    
}
.nav1{
   

   
    height:100px;
   
}
.nav2{


  
    height:100px;
    
}
.nav4{

    

    height:100px;
    padding-left: 15px;
    display: none;
}
.menu{
    text-align: center;
   
   
}
.one{
    display: flex;
   justify-content: center;
   text-align: center;
   
   color: #616060;
   font-size: 24px;
   font-weight: 500;
   padding: 45px 0px;
   text-transform: capitalize;
}
.menu1{
    display:flex;
    gap:30px;
    flex-wrap: wrap;
}
.two{
    display:flex;
    justify-content: end;
    color: #616060;
    font-size: 16px;
    
    font-weight: 500;
    padding: 45px 0px;
    text-transform: capitalize;
}
.three{
   display:flex;
   justify-content: end;


    color:orange;
    font-size: 16px;
    font-weight: 500;
    padding: 45px 0px;
    text-transform: capitalize;
}
.menu3{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    column-gap:30px;

}

.fa-magnifying-glass{
    display:flex;
    justify-content: end;
    color: #616060;
    font-size: 20px;
    
    font-weight: 500;
    padding: 45px 0px;
    text-transform: capitalize;
}
.fa-gear{
    display:flex;
    justify-content: end;
    color: #616060;
    font-size: 20px;
    
    font-weight: 500;
    padding: 45px 0px;
    text-transform: capitalize;
}

.fa-cart-shopping{
    display:flex;
    justify-content: end;
    color: #616060;
    font-size: 20px;
    
    font-weight: 500;
    padding: 45px 0px;
    text-transform: capitalize;
}
.main-pro{
    padding: 35px;
}
.product{
 
   
    display: flex;
    
    
    padding:20px;
    
    


}

.pro-4{
    width:450px;
    
}
.pro-5{
    width:450px;
}
.pro-6{
    width:450px;
 
}
.pro-cart
{   
   
    padding: 20px;
    
         display: flex;
         justify-content: space-between;
         flex-wrap: nowrap !important;
        
        
       

}
.pro-1{
  
    width:300px;
    background-color: #f8f9fc;

    
}
.pro-2
{
    flex-basis: 2;
    padding-bottom: 30px;
        width:500px;
        background-color: #f8f9fc;
}
.pro-3{
    width:300px;
    
    background-color: #f8f9fc;
  
   
}

.container1{
    max-width:1320px;
    display: flex;
    flex-wrap: wrap;
    margin:auto;

}
.mt-5{
    margin-top: 50px;

}
.pt-5{
    padding-top: 50px;
}


.d-flex{
    display: flex;
    justify-content: center;

}
.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}
.five{
    padding-top:30px ;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    color: #5f5b57;
}

.five:hover{
    color:orange;
}

.four{
    padding-top:30px ;
    text-align: center;
    font-size: 14px;
    color: #a09e9c;
    text-transform: initial;
    line-height: 2;
}
.img{
    padding-left: 10px;
    padding-top:10% ;
}


.sixth{
    padding-top:40px ;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    color: #5f5b57;
}

.sixth:hover{
    color:orange;
}
.seventh{
    line-height: 2;
    padding-top:30px ;
    text-align: left;
    padding-left: 20px;
    font-size: 14px;
    color: #a09e9c;
    text-transform: initial;
    }

 .eight{
        color: #5f5b57;
        font-weight: 700;
        padding-top: 30px;
        padding-left:20px ;
    }

    .ninth{
        color:orange;
    }
    .tenth{
        padding-top: 30px;
        padding-left: 20px;
    }
    .first{
        padding: 10px 30px;
        border:1px solid black;
        color: #5f5b57;
        font-weight: 700;
    }   
    .first:hover{
        background-color: #5f5b57;
        color:white
    }



    
.footer{
  
    
  width:100%;
      
  }
  .footer1{
       
      width:450px;
      margin:30px;
  
  }

  ul{
    list-style-type: none;
  }

  .elevanth{
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    color: #4e4c4a;
  }

  .twelth{
    padding-top:30px;
    color: #a09e9c;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 15px;
    text-align: center;
  }

.twelth:hover{
    color:orange;
}

  .thirteen{
    padding-top:50px;
    color: #a09e9c;
    font-size: 14px;
  }
  input{
    height:40px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border:none;
    width:230px;
    align-items: center;
  }
  .fourteen{
    padding-top: 50px;
   text-align: center;
    
  }

  .fa-share-from-square{
    color:orange;
    font-size:20px;

  }

  .back-img{
    width:100%;
    border:1px solid red;
    height:500px;
  }

  .main-footer{
    width: 100%;
    background-color: #f8f9fc;
    height:200px;
  }
  .fifteen{
    color: #a09e9c;
    text-align: center;
    line-height: 7;
  }
  .fifteen:hover{
    color:orange;
  }

  .fa-facebook:hover{
    color:orange;
  }
  .fa-instagram:hover{
    color:orange;
  }
  .fa-linkedin-in:hover{
    color:orange;
  }
  .fa-pinterest:hover{
    color:orange;
  }
  .fa-whatsapp:hover{
    color:orange;
  }
  a{

    text-decoration: none;
    color:black;
    color: #a09e9c;
  }
.sixteen{
    text-align: center;
    line-height:2;
    color: #a5adb3;
    font-size: 14px;
    font-weight: 400;
}
.company-logo{
    width: 100%;
    height:200px;

    margin:20px;    

}
.ninteen{
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    column-gap: 90px;
    align-items: center;
    justify-content: center;
    background-color: #f8f9fc;
}

.twenty{
    padding-left: 47px;
    line-height: 3;
    color: #bcb7b2;
    font-size: 14px;
    font-weight: 400;
}

.twentyone{
    font-size: 13px;
    margin-top: 20px;
    color: #95908b;
    padding-left: 47px;
    line-height: 2;
}
.twentytwo{
    padding-top:30px ;
    padding-left: 0px;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    color: #5f5b57;
}

.twentytwo:hover{
    color:orange;
}
.pro-cart1
{   
   
    padding: 20px;
    
         display: flex;
         justify-content: space-between;
         flex-wrap: nowrap !important;
        
        
       

}

.product1{
 
   
    display: flex;
    

    
    


}
.new-img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}
