@media(max-width:992px){
    .menu{
        text-align: center;
    }
}
@media(max-width:992px){
    .w-1{
      display: none;;
    }
    .cw-1{
        width: 100%;
    }

}
@media(max-width:1299px){
    .cw-2{
        width:33.33%;
    }
}
@media(max-width:993px){
    .nav4{
        display: flex;
    }
}
@media(max-width:992px){
    .nav{
        /* align:center;
        width:75%; */
    }
}
@media(max-width:992px){
    .nav1{
        display: none;
    }
    
}
@media(max-width:786px){
    .w-box-1{
        width:100%;
    }
}



@media(max-width:375px){
    .menu{
        text-align: center;
    }
}
@media(max-width:375px){
    .w-1{
      display: none;;
    }
}
@media(max-width:375px){
    .nav4{
        display: flex;
    }
}
@media(max-width:375px){
    .nav{
        align:center;
        /* width:75%; */
    }
}
@media(max-width:375px){
    .nav1{
        display: none;
    }
    .cw-2{
        width:100%;
    }
    .cw-1{
        width:100%;
    }
    .center{
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}

@media(max-width:992px){
    .w-2{
        width:50%;
    }
    .center{
        display: block;
        margin-left: auto;
        margin-right: auto;

    }
    .chair-img{
        padding: 100px 40px;
    }
}

@media(max-width:375px){
    .w-1{
        width:100%;
    }
    .cw-1{
        width:100%;
    }
    .chair-img{
        padding: 100px 40px;
    }
    .center{
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}
@media(max-width:992px){
    .other-four{
        padding-left: 20px;
    margin: 10px;
    text-align: center;
    }
    .other-five{
        text-align: center;
    }
    .other-six{
        text-align: center;
    }
    .new-rating{
        text-align: center;
        padding: 10px;
    }
    .chair-img1{
        text-align: center;
    }
}

@media(max-width:767px){
    .cw-2{
         width: 100%;
    }

    .cw-2 > div{
        max-width: 270px !important;
    }
}
